{% extends 'base.html.twig' %}

{% block title %}Products List{% endblock %}

{% block body %}

     <div class="row">
            <div class="col-sm-12">

                <h1 class="text-center">Products List</h1>

                <div class="paginator row navigation float-right text-center col-sm-12">
                    {{ knp_pagination_render(products) }}
                </div>

                <div class="col-sm-12">

                    {% set fields = productFields(products|first) %}

                    <table id="products" class="table table-bordered table-primary">
                        <thead>
                            <tr class="thead-dark">
                                {% for field in fields %}
                                    <th>{{ displayFields(field) }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    {% for field in fields %}
                                    <td>
                                        {% set value = attribute(product, field) %}

                                        {% if value is null %}
                                            {{ 'null' }}
                                        {% elseif isDateTime(value) %}
                                            {{ dateString(value) }}
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

                <div class="paginator row navigation float-right text-center col-sm-12">
                    {{ knp_pagination_render(products) }}
                </div>

            </div>
        </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('products') }}
{% endblock %}
