{% extends 'base.html.twig' %}

{% block title %}Upload Products{% endblock %}

{% block body %}
<div class="container">
    <div class="card-title">
        <h1 class="text-center">Upload Zone ✅</h1>
    </div>
    <div class="row">
        <p id="report-log"></p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{ form(form) }}
        </div>

        <div class="col-sm-7">
            <table id="errors-table" class="table table-sm table-bordered table-primary">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Errors</th>
                    </tr>
                </thead>
                <tbody id="errors-body"></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('dropzone') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('dropzone') }}
{% endblock %}
