@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    position: relative;
    background: #718C00;
    min-height: 45rem;
    padding-bottom: 80px;
}

.page-content {
    margin-top: 10px;
}

.navbar {
    background-color: #222222;
}