@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~dropzone/dist/min/dropzone.min.css";

.dropzone {
    margin-top: 10px;
    border-style: hidden;
}

/* tbody */
#errors-body {
    max-height: calc(100vh - 300px) !important;
    overflow-y: scroll;
}

/* table */
#errors-table thead,
#errors-table tbody,
#errors-table tr,
#errors-table td,
#errors-table th
{
   display: block;
}

#report-log {
    display: none;
    border-radius: 20px;
    background-color: #222222;
    color: white;
    padding: 10px;
}